# Default ignored files
/shelf/
/.idea/
/GMU_VS.sln
/GMU_VS.vcxproj
/GMU_VS.vcxproj.filters
/GMU_VS.vcxproj.user

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/cmake-build-debug/
/cmake-build-release/
CMakeLists.txt
/ROMs/dmg.bin
/.vs/
/Debug/
/SDL2/
/SDL2_ttf/
/x64/
/Release/
GMu_VS.sln
GMu_VS.vcxproj
GMu_VS.vcxproj.filters
GMu_VS.vcxproj.user

/CppProperties.json
