# Default ignored files
/shelf/
/.idea/

*.obj
*.pdb
*.map
*.ilk
*.exe
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/cmake-build-debug/
/cmake-build-release/
CMakeLists.txt
/ROMs/dmg.bin
/CppProperties.json/
/build/.vs/


